/* Navbar */
nav {
    display: flex;                                                              /* Usa flexbox per allineare gli elementi */
    justify-content: space-around;                                              /* Distribuisce uniformemente gli elementi lungo la navbar */
    align-items: center;                                                        /* Centra verticalmente gli elementi */
    padding-top: 15px;                                                          
    padding-bottom: 15px;
    position: fixed;                                                            /* Mantiene la navbar fissa in alto */
    width: 100%;                                                                /* Occupa l'intera larghezza della pagina */
    top: 0;                                                                     /* Posiziona la navbar in cima alla finestra */
    z-index: 2;                                                                 /* Assicura che la navbar stia sopra gli altri elementi */
    color: white;                                                               /* Imposta il colore del testo su bianco */
    font-weight: bold;
}

nav img{
    height: 40px;
    margin-left: 15px;
    cursor: pointer;
}


.navButton {
    text-decoration: none;                                                      /* Rimuove la sottolineatura dai link */
    color: white;                                                               /* Imposta il colore del testo su bianco */
    font-weight: bold;                                                          /* Rende il testo in grassetto */
    padding: 10px 15px;                                                         /* Aggiunge spazio interno ai bottoni */
    transition: background 0.3s;                                                /* Aggiunge una transizione fluida per il cambio di colore */
    margin-left: 10px;                                                          /* Aggiunge un po di spazio tra un bottone e l'altro */
    margin-right: 10px;
    border-radius: 10px;
}

.navButton:hover {
    background: #ff6600;                                                        /* Cambia il colore di sfondo al passaggio del mouse */
    border-radius: 5px;                                                         /* Arrotonda leggermente i bordi */
}

.navButton:nth-child(4) {                                                       /* Separa i primi 4 elementi e sposta il resto a destra */
    margin-right: auto;
}

nav div img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;                                                          /* Mantiene le proporzioni dell'immagine */
    overflow: hidden;                                                           /* Nasconde l'overflow */
}

nav div{
    display: flex;
    align-items: center;                                                        /* Allinea verticalmente al centro */
}