/* Imposta lo stile generale del corpo della pagina */
body {
    font-family: Arial, sans-serif;                                             /* Carattere del testo */
  /*background-color: #f4f4f4;*/                                                /* Colore di sfondo della pagina*/
  /*background-image: url('immagini/sfondo_registrazione.jpg');*/               /* Imposta l'immagine indicata dall'url come sfondo della pagina*/
  /*background-size: cover;*/                                                   /* Adatta l'immagine a tutta la pagina*/
  /*background-repeat: no-repeat;                                               /* Evita la ripetizione dell'immagine*/
    background-position: center;                                                /* Centra l'immagine*/
    display: flex;                                                              /* Uso del layout flexbox per centrare il contenuto */
    flex-direction: column;                                                     /* Imposta la direzione del flusso in verticale */
    justify-content: center;                                                    /* Centra orizzontalmente il contenuto */
    align-items: center;                                                        /* Centra verticalmente il contenuto */
   min-height: 100vh;                                                           /* Occupa almeno l'intera altezza della finestra */
    margin: 0;                                                                  /* Rimuove il margine predefinito del body */
}

/* Navbar */
nav {
    /* Centra verticalmente gli elementi */
background-color: #0abab5 !important;                                                  /* Imposta un colore arancione per la navbar */
}

.navButton:hover {
background: #0a62ba !important;                                                        /* Cambia il colore di sfondo al passaggio del mouse */
}

#modifica{
    display: grid;                                                              /* Usa il layout CSS Grid */
    gap: 20px;
    width: 55%;
    background-color: rgba(0, 0, 0, 0.8);                                      /* Sfondo nero del contenitore con trasparenza al 20%*/
    border-radius: 5px;                                                         /* Angoli arrotondati */
    padding: 20px;                                                              /* Spaziatura interna */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);                                    /* Ombra leggera intorno al contenitore */
    width: 50%;
    color: white;                                                            /* Spaziatura tra le colonne */
 }
 
 /* Stile per le etichette del form */
 label {
     display: block;                             /* Mostra l'etichetta come blocco */
     margin-bottom: 5px;                         /* Spaziatura inferiore rispetto all'input */
 }
 
 /* Stile per i campi di input del form */
 input {
     width: 100%;                                /* Larghezza completa del contenitore padre */
     padding: 8px;                               /* Spaziatura interna */
     box-sizing: border-box;                     /* Include il padding e il bordo nella larghezza totale */
     border: 1px solid #ccc;                     /* Bordo grigio chiaro */
     border-radius: 4px;                         /* Angoli arrotondati */
 }
 
 
 /* Stile per il pulsante di invio */
 input[type="submit"] {
     width: 50%;                                 /* Larghezza completa del contenitore padre */
     padding: 10px;                              /* Spaziatura interna */
     background-color: #5cb85c;                  /* Colore verde di sfondo */
     border: none;                               /* Rimuove il bordo */
     color: white;                               /* Colore del testo */
     border-radius: 4px;                         /* Angoli arrotondati */
     cursor: pointer;                            /* Cambia il cursore in una mano quando si passa sopra */
 }